.brands {
  margin: 100px auto;
  .row__col-5 {
    width: 160px;
    img {
      width: 100%;
      cursor: pointer;
      filter: grayscale(100%);
    }
    img:hover {
      filter: grayscale(0);
    }
  }
}
