.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.row__col-2 {
  .row__col-2__offerimg {
    padding: 50px;
  }
  small {
    color: #555;
    display: inline-block;
  }
}
