.row__col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  img {
    width: 100%;
  }
  h4 {
    color: #555;
    font-weight: normal;
  }
  p {
    font-size: 14px;
  }
  .row__col-4__rating {
    .fa {
      color: #ff523b;
    }
  }
  transition: transform 0.5s;
}

.row__col-4:hover {
  transform: translateY(-5%);
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
