* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

// import components
@import 'header';
@import 'categories';
@import 'products';
@import 'offer';
@import 'testimonial';
@import 'brands';
@import 'footer';
