* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

// import components
@import 'header';
@import 'categories';
@import 'products';
@import 'offer';
@import 'testimonial';
@import 'brands';
@import 'footer';

// media query for less than 600 screen size
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
    .row__col-2,
    .row__col-3,
    .row__col-4 {
      flex-basis: 100%;
    }
  }
}
