* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
  height: 100vh;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.navbar .menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navbar nav ul {
  display: inline-block;
  list-style-type: none;
}

.navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #555;
}

@media only screen and (max-width: 800px) {
  .navbar nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .navbar nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar nav ul li a {
    color: #fff;
  }
  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

.row .row__col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
}

.row .row__col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.row .row__col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.row .row__col-2 p {
  color: #555;
}

.row .row__col-2 .row__col-2__btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.row .row__col-2 .row__col-2__btn:hover {
  background: #555;
}

.categories {
  margin: 70px 0;
}

.row .row__col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.row .row__col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.row__col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.row__col-4 img {
  width: 100%;
}

.row__col-4 h4 {
  color: #555;
  font-weight: normal;
}

.row__col-4 p {
  font-size: 14px;
}

.row__col-4 .row__col-4__rating .fa {
  color: #ff523b;
}

.row__col-4:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.row__col-2 .row__col-2__offerimg {
  padding: 50px;
}

.row__col-2 small {
  color: #555;
  display: inline-block;
}

.testimonial {
  padding-top: 10px;
}

.testimonial .row__col-3 {
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.testimonial .row__col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .row__col-3 p {
  color: #555;
  font-size: 12px;
  margin: 12px 0;
}

.testimonial .row__col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.testimonial .row__col-3 .row__col-4__rating .fa {
  color: #ff523b;
}

.testimonial .row__col-3 .fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.testimonial .row__col-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.brands {
  margin: 100px auto;
}

.brands .row__col-5 {
  width: 160px;
}

.brands .row__col-5 img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.brands .row__col-5 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer .row__footer-col-1 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer .row__footer-col-2 {
  min-width: 250px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footer .row__footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer .row__footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: center;
}

.footer .row__footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  text-align: center;
}

.footer ul {
  list-style-type: none;
}

.footer .app-logo {
  margin-top: 20px;
}

.footer .app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.footer .copyright {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .row .row__col-2,
  .row .row__col-3,
  .row .row__col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=index.css.map */